Shang New Live/src/flows/CashDetailRollupOnDeposit-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CashDetailAmount</name>
        <label>CashDetailAmount</label>
        <locationX>415</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>Amt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObj.Amount_Paid__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCashDetails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ValidateDepositID</name>
        <label>ValidateDepositID</label>
        <locationX>159</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDepositID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SearchCashDetail</targetReference>
            </connector>
            <label>IsNotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>CashDetailRollupOnDeposit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CashDetailRollupOnDeposit</label>
    <loops>
        <name>LoopCashDetails</name>
        <label>LoopCashDetails</label>
        <locationX>171</locationX>
        <locationY>271</locationY>
        <assignNextValueToReference>sObj</assignNextValueToReference>
        <collectionReference>CashDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CashDetailAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDeposit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchCashDetail</name>
        <label>SearchCashDetail</label>
        <locationX>160</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCashDetails</targetReference>
        </connector>
        <filters>
            <field>Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepositID</elementReference>
            </value>
        </filters>
        <object>Cash_Detail__c</object>
        <outputReference>CashDetails</outputReference>
        <queriedFields>Amount_Paid__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDeposit</name>
        <label>UpdateDeposit</label>
        <locationX>169</locationX>
        <locationY>412</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDepositID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>Amt</elementReference>
            </value>
        </inputAssignments>
        <object>Deposit__c</object>
    </recordUpdates>
    <startElementReference>ValidateDepositID</startElementReference>
    <variables>
        <name>Amt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CashDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cash_Detail__c</objectType>
    </variables>
    <variables>
        <name>sObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cash_Detail__c</objectType>
    </variables>
    <variables>
        <name>varDepositID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
