Shang New Live/src/flows/CashDetailRollupOnInvoice-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CashDetailAmount</name>
        <label>CashDetailAmount</label>
        <locationX>420</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>Amt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCashDetails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ValidateInvoiceID</name>
        <label>ValidateInvoiceID</label>
        <locationX>177</locationX>
        <locationY>9</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvocieID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SearchCashDetail</targetReference>
            </connector>
            <label>IsNotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>CashDetailRollupOnInvoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CashDetailRollupOnInvoice</label>
    <loops>
        <name>LoopCashDetails</name>
        <label>LoopCashDetails</label>
        <locationX>171</locationX>
        <locationY>275</locationY>
        <assignNextValueToReference>sObj</assignNextValueToReference>
        <collectionReference>CashDetails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CashDetailAmount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateInvocie</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchCashDetail</name>
        <label>SearchCashDetail</label>
        <locationX>175</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCashDetails</targetReference>
        </connector>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvocieID</elementReference>
            </value>
        </filters>
        <object>Cash_Detail__c</object>
        <outputReference>CashDetails</outputReference>
        <queriedFields>Amount_Paid__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInvocie</name>
        <label>UpdateInvocie</label>
        <locationX>180</locationX>
        <locationY>399</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInvocieID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>Amt</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <startElementReference>ValidateInvoiceID</startElementReference>
    <variables>
        <name>Amt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CashDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cash_Detail__c</objectType>
    </variables>
    <variables>
        <name>sObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cash_Detail__c</objectType>
    </variables>
    <variables>
        <name>varInvocieID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
